.container-login {
    width: 100vw;
    height: 100vh;
    background: url("");
    display: flex;
    align-items: center;
    justify-content: center;
    
  
    .wrapper {
      padding: 20px;
      width: 25%;
      background-color: white;

      @media only screen and (max-width: 380px) {
        width: 75%;
      }
  
      .title {
        font-size: 24px;
        font-weight: 300;
      }
  
      form {
        display: flex;
        flex-direction: column;
  
        input {
          flex: 1;
          min-width: 40%;
          margin: 10px 0px;
          padding: 10px;
        }

  
        button {
         
          width: 40%;
          border: none;
          padding: 15px 20px;
          color: white;
          background-color: teal;
          cursor: pointer;
          margin-bottom: 10px;
        }

        span{
            margin: 10px 0px;
            font-size: 12px;
            text-decoration: underline;
            cursor: pointer;

        }
      }
    }
  }
  